.footer-container {
  max-width: 116px;
  min-height: 102px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 110px;
  margin-top: 60px;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.socials img {
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .footer-container {
    margin-top: 80px;
  }
}
@media screen and (max-width: 375px) {
  .footer-container {
    margin-bottom: 63.78px;
    margin-top: 0px;
  }
}
