.intro-container {
  margin: auto;
  max-width: 1112px;
  height: 648px;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 110px;
}
.intro-img {
  min-width: 477px;
  height: 477px;
}
.intro-img img {
  object-fit: contain;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.intro-content {
  gap: 32px;
  color: white;
  padding: 64px;
  margin-top: 173px;
  margin-left: -95px;
  background-color: var(--Purple);
  min-width: 730px;
  height: 413px;
  position: relative;
}
.intro-desc {
  margin: 32px 0px;
}

.intro-pattern {
  position: absolute;
  right: 72.7px;
  bottom: -61.69px;
}
@media screen and (max-width: 1200px) {
  .intro-container {
    height: 526px;
    margin-top: 100px;
    justify-content: center;
  }
  .intro-title {
    font-size: 48px !important;
    line-height: 56px;
    font-weight: 600;
  }
  .intro-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
  .intro-img {
    min-width: 281px;
    height: 281px;
  }
  .intro-content {
    color: white;
    padding: 48px 56px 56px 56px;
    margin-top: 151px;
    margin-left: -95px;
    background-color: var(--Purple);
    max-width: 514px;
    min-width: 514px;
    height: 375px;
    position: relative;
  }
  .intro-desc {
    margin: 24px 0px;
  }
  .intro-pattern {
    position: absolute;
    right: 12.7px;
    bottom: -105.74px;
  }
}

@media screen and (max-width: 750px) {
  .intro-container {
    height: 603px;
    width: 343px;
    margin-top: 99.2px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 75px;
  }
  .intro-title {
    font-size: 32px !important;
    line-height: 48px;
  }
  .intro-img {
    min-width: 281px;
    height: 281px;
  }
  .intro-content {
    color: white;
    padding: 32px 31px 32px 31px;
    min-width: 343px;
    min-width: 343px;
    position: relative;
    margin: 0px;
    margin-top: -53px;
    align-self: center;
    text-align: center;
  }
  .intro-desc {
    margin: 16px 0px 24px 0px;
  }
  .intro-pattern {
    display: none;
  }
}
